.tab-content {
  flex: 1;
  overflow-y: auto;
}

.return-icon {
  transform: rotateX(-180deg) !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-item .nav-link.active {
  color: var(--color-primary-200) !important;
  /* background-color: var(--background-color) !important; */
  border: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.quill {
  display: flex;
  flex-direction: column;
}

.custom-quill .ql-container {
  background-color: transparent !important;
  color: #fff !important;
  display: flex !important;
  flex-direction: column !important;
  max-height: 10000000px !important;
  /* flex: 1; */
}
.ql-container {
  border-color: #333 !important;
  /* display: none !important;
  height: 0 !important; */
}

/* .ql-editor img {
  max-width: 100%;
  height: 200px;
} */

.ql-container .ql-snow {
  overflow-y: auto;
  /* display: none !important; */
}

.ql-toolbar {
  border-color: transparent !important;
  z-index: 30;
}

.custom-quill .ql-editor {
  height: 100% !important;
  background-color: transparent !important;
  /* color: #fff !important; */
  max-height: 100% !important;
  overflow-y: auto !important;
  /* flex: 1; */
}

/* .ql-toolbar.ql-snow + .ql-container.ql-snow {
  display: none !important;
} */

.ql-toolbar,
.ql-picker-options,
.ql-picker-item {
  /* background-color: #333 !important; */
  /* color: #fff !important; */
}
é
/* Optional: toolbar button text color */
.custom-quill .ql-toolbar button,
.custom-quill .ql-toolbar .ql-picker-label,
.custom-quill .ql-toolbar .ql-picker-item {
  color: #000;
}

.ql-picker-options {
  background-color: #333;
}

/* .ql-snow .ql-stroke {
  stroke: #fff !important;
}

.ql-picker-label {
  color: #fff !important;
} */

/* .nav-tabs .nav-link {
  color: gray !important;
} */
