.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.navbar-button {
    color: #fff;
    background-color: #dc3545;
    border: none;
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
}