.thumbnail-container {
    position: relative;
}
.delete-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    padding: 3px;
    color: #dc3545;
    background-color: #a2a2a2;
    border-radius: 100%;
    cursor: pointer;
}
.thumbnail-loader {
    position: absolute;
    left: 25%;
    top: 30%;
    width: 100px;
    height: 100px;
    margin: auto;
}
.category-select {
    width: 250px;
}
.workspace-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pdf-spinner-container {
    margin: auto;
    width: 20px;
    height: 20px;
}