@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background-color: #171717;
  --background-workspace-color: #242424;
  --separator-color: #1e1e1e;
}

.light {
  --background-color: #ffffff;
  --background-workspace-color: #fafafa;
  --separator-color: #e3e3e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
