@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient-x {
    background-image: linear-gradient(to right, #755bea, #b76894);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .app-scroll {
    scrollbar-width: thin;
    scrollbar-color: #77a8f9 transparent;
  }

  .app-scroll::-webkit-scrollbar {
    width: 3px;
    display: none;
  }

  .app-scroll::-webkit-scrollbar-track {
    background: red;
  }

  .app-scroll::-webkit-scrollbar-thumb {
    background: #888;
  }

  .app-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

label {
  user-select: none;
}

:root {
  --color-primary-200: #77a8f9;
}

.dark {
  --background-color: #171717;
  --background-workspace-color: #242424;
  --separator-color: #1e1e1e;
  --hover-background: #d9e2ec21;
  --text-color: "#ABAEB4";
}

.light {
  --background-color: #ffffff;
  --background-workspace-color: #fafafa;
  --separator-color: #e3e3e4;
  --hover-background: #f0f4f830;
  --text-color: "#333333";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Base font size */
html {
  font-size: 14px; /* Default font size for the entire app */
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Heading tags */
h1 {
  font-size: 28px; /* Instead of 32px */
}

h2 {
  font-size: 22px; /* Instead of 24px */
}

h3 {
  font-size: 18px; /* Instead of 18.72px */
}

h4 {
  font-size: 15px; /* Instead of 16px */
}

h5 {
  font-size: 12px; /* Instead of 13.28px */
}

h6 {
  font-size: 10px; /* Instead of 10.72px */
}

/* Paragraph, list items, and other common text */
p,
li,
div,
span {
  font-size: 14px; /* Decreased from 16px */
}

p {
  margin: 0 !important;
}

/* .ql-container {
  height: 300px !important;
  max-height: 300px !important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 0 !important;
}

.tab-content {
  z-index: 2;
}

.custom-rounded .modal-content {
  border-radius: 2rem; /* Or whatever you like */
}
